@{
    ViewData["Title"] = "About NEMESYS";
}

<h1>@ViewData["Title"]</h1>

<p>NEMESYS (Near Miss Exposure and Reporting System) is a web application designed to allow students and staff to report near-miss incidents on and around campus.</p>
<p>The administration can then intervene based on these reports to improve overall health and safety conditions on campus.</p>
