@model Nemesys.ViewModels.NemesysDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="TotalReports"></label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="TotalReports" readonly />
        </dd>
        <dt class="col-sm-2">
            <label asp-for="TotalRegisteredUsers"></label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="TotalRegisteredUsers" readonly />
        </dd>
    </dl>
</div>
